* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #7C8F4C;
    color: #333;
    line-height: 1.6;
}
.font1{
    font-family: "sayer-spiritual-mn", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font2 {
    font-family: "curve", serif;
    font-weight: 300;
    font-style: normal;
    font-size: .5cm;
    }

.font3{
    font-family: "beverly-drive-right", sans-serif;
    font-weight: 400;
    font-style: normal;
   font-size: 1cm;
}

.navbar {
    background-color: #ACB984;
}

.nav-link {
    color: black;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: #555;
    color: white;
}

.active .nav-link {
    background-color: #7c8f4c;
}


.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.grid-item {
    text-align: center;
    padding: 20px;
    background-color: #596D22;
    color: white;
    border-radius: 8px;
}

.review-section {
    grid-column: 2 / span 2; 
    grid-row: 2;
}
.review2-section {
    grid-column: 4 / span 2; 
    grid-row: 3;
}


@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.carousel-inner img {
    height: 500px;
    object-fit: cover;
}
.order-button {
    background-color: #596D22;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.order-button:hover {
    background-color: #4e5f1c;
}
